body
{
  color: white;
  text-shadow: 1px 1px 2px black;
  background-image:url(https://raw.githubusercontent.com/VincentChantraine/Portfolio.github.io/main/Ressources_R%C3%A9a_Pro/Stage/Interface/Fond.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h6{border-bottom: 2px solid white;}

h1{text-decoration: underline;}